/*---Seccion Index---*/
.cabecera {
	background-image: url(../images/crash.webp);
	background-position: center;
	background-size: cover;
	height: 300px;
	color: whitesmoke;
	text-shadow: 0 0 10px rgb(15, 15, 15);
	text-transform: capitalize;
	text-align: center;
	h1 {
		padding-top: 200px;
	}
}