/*---Inicio Navbar---*/
.navbar {
	background-color: $bg-color_footer-nav;
}
#sombralogo {
	filter: brightness(20%);
}
.nav-link {
	color: white;
	text-shadow: 0 0 5px #000;
	text-transform: uppercase;
	&:hover {
		color: white !important;
	}
}
/*---Fin Navbar---*/