/*---seccion productos----*/
.productos {
    padding-top: 10px;
}

.card {
    background-color: rgba(166, 166, 180, 0.233);
    padding-top: 10px;
}

.card img {
    filter: brightness(0%);
}

.card-title {
    color: black;
    text-shadow: 0 0 5px rgb(15, 15, 15);
    text-transform: capitalize;
    text-align: center;
    font-size: 1.5rem;
}