$color-card-title: black;
$bg-color_card: #a6a6b43b;

/*---seccion Productos----*/
.productos {
	padding-top: 10px;
}
.card {
	background-color: $bg-color_card;
	padding-top: 10px;
	img {
		filter: brightness(0%);
	}
}
.card-title {
	color: $color-card-title;
	text-shadow: 0 0 5px #0f0f0f;
	text-transform: capitalize;
	text-align: center;
	font-size: 1.5rem;
}
.jumbo-productos {
	background-image: url(../images/crash-1308575_960_720.jpg);
	background-position: center;
	background-size: cover;
	text-shadow: 0 0 5px #e9e6e6;
	text-transform: capitalize;
	text-align: center;
	font-size: 1.5rem;
}
