@font-face {
    font-family: "GillSansStd-Light";
    src: url(../fonts/GillSansStd-Light.otf);
}

* {
    font-family: "GillSansStd-Light";
}
body {
    background-color: rgba(166, 166, 180, 0.233);

}
@import "navbar.scss";
@import "index.scss";
@import "contacto.scss";
@import "preguntas.scss";
@import "productos.scss";
@import "quien-soy.scss";
@import "footer.scss";